@font-face {
    font-family: 'Basta';
    src: url(font/zh-cn.ttf);
}
@font-face {
    font-family: 'Genshin';
    src: url(font/genshin-impact-drip-font.ttf);
}

body {
    font-family: 'Basta';
    color: white;
    background: #000000;
}

html {
    cursor: url(cursor/genshin_cursor.cur), auto;
}






/* nav bar */

.nav {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.653));
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    height: 70px;
}

.nav-wrapper {
    position: fixed;
    z-index: 1000;
}

.nav-wrapper :hover {
    cursor: url(cursor/genshin_link.cur), pointer;
    color: #FFC300;
}

.nav-wrapper .dropdown-content{
    margin-top: 60px;
    transform: translateY(-40%);
    background-color: rgb(226, 226, 226);
}

.brand-logo img.logo {
    height: 50px; 
    width: auto;  
    vertical-align: middle;
    margin-top: 5px; 
}

.sidenav {
    width: 250px;
    height: 100vh;
    top: 0;    
    left: 0;     
    overflow-y: auto; 
}

.dropdown-content li a {
    color: #000;
}

#toggleBtn {
    background-color: rgba(0, 0, 0, 0.499); 
    color: white;
    border-radius: 8px;
    padding: 0 10px;
    text-align: center;
}





.banner {
    position: relative;
    height: 500px;
    overflow: hidden;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.863);
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner h1 {
    font-size: 5rem;
    margin-top: 14%;
    font-family: 'Genshin';
}
.banner p {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 1.2rem;
    display: inline-block;
    background-color: #00000082;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.31));
    background-size: cover;
    background-position: center;
}





/* Character Sections */
.character-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    color: white;
}

.character-section .region{
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    filter: drop-shadow(0 0 15px #090909);
}

.character-section h2 {
    text-transform: capitalize;
    font-family: 'Genshin';
    font-size: 5rem;
}


.section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(placeholder/bg-mondstadt.jpg) center center / cover no-repeat; 
    z-index: 1;
}

.character-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    z-index: 2;
}

.character-section .container {
    position: relative;
    z-index: 3;
    padding: 50px 0;
}

.character-section h2 {
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.character-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.character-row {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.character-card {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}


.avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    display: block;
    transition: 0.3s ease;
}


.character-card:hover .avatar {
    transform: translateY(-12px);
    filter: drop-shadow(0 0 15px #ffffff);
}


.name-card {
    background: rgba(0, 0, 0, 0.807);
    width: 100%;
    padding: 0 10px;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden; 
}


.name-card p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.2;
    text-wrap: balance;
    text-align: center;
    max-width: 150px;
}



.element-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}



.character-card.five-star {
    background: linear-gradient(45deg, #AB7031, rgba(255, 166, 0, 0.596));
    border: 2px solid #d59550;
    border-radius: 10px;
}
.character-card.four-star {
    background: linear-gradient(45deg, #755EA2, rgba(76, 0, 130, 0.736)); 
    border: 2px solid #755EA2;
    border-radius: 10px;
}


#mondstadt .section-bg {
    background-image: url(regions/monstadt-morning.jpg);
}

#liyue .section-bg {
    background-image: url(regions/liyue-morning.jpg);
}

#inazuma .section-bg {
    background-image: url(regions/inazuma-morning.jpg);
}

#sumeru .section-bg {
    background-image: url(regions/sumeru-morning.jpg);
}

#fontaine .section-bg {
    background-image: url(regions/fontaine-morning.jpg);
}

#natlan .section-bg {
    background-image: url(regions/natlan-morning.jpg);
}

#nod-krai .section-bg {
    background-image: url(regions/nodkra-morning.jpg);
}

#snezhnaya .section-bg {
    background-image: url(regions/snezhnaya-morning.png);
}

#upcoming .section-bg {
    background-image: url(regions/upcoming-morning.png);
}








/* footer */

footer {
    background: #000;
    padding: 40px 0 20px 0;
    text-align: center;
    color: #fff;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    margin: 0 15px;
    color: #ffae19;
    text-decoration: underline;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fff;
    cursor: url(cursor/genshin_link.cur), pointer;
}

.esrb {
    margin: 20px 0;
}

.esrb img {
    width: 200px;
    height: auto;
}

.trademarks {
    font-size: 12px;
    color: #ccc;
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.logos {
    margin: 20px 0;
}

.logos img {
    width: 200px;
    margin: 0 20px;
}

.copyright {
    font-size: 14px;
    margin: 10px 0;
}

.credits {
    font-size: 12px;
    color: #ccc;
    margin: 10px 0 0 0;
}
.credits a{
    font-size: 12px;
    color: #ccc;
    cursor: url(cursor/genshin_link.cur), pointer;
}

















@media screen and (max-width: 700px) {
    .character-row {
        gap: 10px;
    }
    .character-card {
        width: 100px;
    }

}

@media screen and (max-width: 400px) {
    .character-row {
        flex-direction: column;
        align-items: center;
    }
    
}
/* Responsive */
@media screen and (max-width: 960px) {
    .character-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px; 
        width: 90%;
    }
    .character-card {
        max-width: 150px; 
        width: 120px;
    }
    
    .avatar {
        height: 120px; 
    
    }
    .avatar-container {
        height: 120px; 
        
    }
    .name-card {
        height: 45px; 
        padding: 0 6px;
    }
    .name-card p {
        font-size: 1rem; 
    }
    .element-icon {
        width: 20px;
        height: 20px; 
    }
    .character-section h2 {
        font-size: 4rem; 
    }


    .footer-links a {
        margin: 0 10px;
        font-size: 13px;
    }
    .esrb img {
        width: 250px;
    }
    .logos img {
        width: 200px;
        margin: 0 15px;
    }

}












@media screen and (max-width: 700px) {
    .banner h1{
        margin-top: 30%;
        font-size:4rem;
    }
    .banner p{
        margin: 20px 30px;
        font-size:1.3rem;
    }
    .character-row {
        gap: 10px; 
        flex-wrap: wrap;
        justify-content: center;
        width: 85%;
    }
    .avatar {
        height: 120px; 
    }
    .name-card {
        height: 50px; 
        padding: 0 5px;
    }
    .name-card p {
        font-size: 1rem; 
    }
    .element-icon {
        width: 18px;
        height: 18px; 
    }
    .character-section h2 {
        font-size: 5rem; 
    }
    .character-section .region {
        height: 200px;
        width: 200px; 
    }



    

    .esrb img {
        width: 200px;
    }
    .trademarks {
        font-size: 11px;
        max-width: 90%;
    }
    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logos img {
        width: 250px;
        margin: 10px 0;
    }

}
















@media screen and (max-width: 400px) {
    .banner h1{
        margin-top: 40%;
        font-size:3rem;
    }
    .banner p{
        margin: 10px 20px;
        font-size:1rem;
    }
    .character-card {
        width: 80px;
    }
    .character-card img {
        height: 180px;
    }
    .character-row {
        gap: 8px; 
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .character-card {
        width: 250px;
        max-width: 200px; 
        height: 230px;
        max-height: 250px;
    }
    .avatar {
        height: 200px; 
        width: 200px;
    }
    .name-card {
        transform: translateY(59px);
        height: 48px; 
        padding: 0 4px;
    }
    .name-card p {
        font-size: 1rem; 
        max-width: 120px; 
    }
    .element-icon {
        width: 20px;
        height: 20px; 
    }
    .character-section h2 {
        font-size: 3rem; 
    }
    .character-section .region {
        height: 150px;
        width: 150px; 
    }
    .character-grid {
        gap: 10px; 
    }

    .footer-links a {
        font-size: 12px;
    }
    .esrb img {
        width: 150px;
    }
    .logos img {
        width: 200px;
        margin: 8px 0;
    }
    .copyright {
        font-size: 12px;
    }
    .credits {
        font-size: 11px;
    }
}
